// carousel
$slide-height: 75px;
$slide-width: $slide-height;
$slide-margin: 20px;
$slide-row-height: $slide-height + $slide-margin + $slide-margin;
$slide-bg: #C4C4C4;
$slide-selected-color: #ffe600;