<div class="modal-header">
    <h5 class="modal-title">Browse Assets</h5>
    
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="asset-search" class="sr-only">Search for an asset by title</label>
            <input type="text" class="form-control" id="asset-search" placeholder="Search for an asset by title">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close clickl')">Close</button>
</div>