@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?p04ryx');
  src:  url('/assets/fonts/icomoon.eot?p04ryx#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?p04ryx') format('truetype'),
    url('/assets/fonts/icomoon.woff?p04ryx') format('woff'),
    url('/assets/fonts/icomoon.svg?p04ryx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
.icon-add_circle:before {
  content: "\e900";
}
.icon-drag_handle:before {
  content: "\e902";
}
.icon-delete_forever:before {
  content: "\e901";
}
  